.reading_body {
	font-size: 1.2rem;
	line-height: 1.7rem;
	color: #444;
	text-align: left;
}

.reading {
	background: #fff;
	text-align: left;
}

.reading ul li {
	font-size: 1.5rem;
	border-bottom: solid 1px #e9e9e9;
}

.reading ul li a {
	display: block;
	padding: 1.5rem;
	color: #343434;
}

.reading ul li s {
	float: right;
	text-decoration: none;
	color: #bdbdbd;
}

.reading_icon {
	font-size: 2rem;
	padding: 0.8rem;
	border-radius: 0.5rem;
	color: #fff;
	margin-right: 1rem;
}


/*图书阅读*/

.reading_icon1 {
	background: #48cfe5;
}


/*主题群文*/

.reading_icon2 {
	background: #ffa068;
}


/*拓展阅读*/

.reading_icon3 {
	background: #9796ed;
}


/*英文阅读*/

.reading_icon4 {
	background: #ff7996;
}


/*公共样式设置*/

a:hover,
a:focus {
	box-shadow: none;
}

section {
	padding-top: 0rem;
}

section.book_list.book_list1 {
	margin: 0;
}

.clear {
	clear: both;
}

.right {
	float: right;
}

.left {
	float: left;
}

.BorderFontBlue {
	border: 1px solid #0099ff;
	color: #0099ff;
}

.fontBlue {
	color: #0099ff;
}

.fontGrey {
	color: #989898;
}

.fontGrey1 {
	color: #5d5d5d;
}

.fontGrey2,
.fontGrey2 a {
	color: #999999;
}

.font14 {
	font-size: 1.3rem;
}

.font16 {
	font-size: 1.4rem;
}

.font18 {
	font-size: 1.6rem;
}

.colorWhite,
.colorWhite span,
.colorWhite i,
.colorWhite a {
	color: white;
}

.pOerflow1 {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.icon-star {
	color: #f8b525;
}

.fontRed {
	color: #fd6951;
}

.greyBc {
	background-color: #F8F8F8;
}

.activeGreen {
	color: #56be47
}


/*遮罩效果*/

div#popBg {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.2);
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	display: none;
	z-index: 11;
}


/*弹窗*/

.popUp {
	display: none;
}

.popUpCon {
	top: 50%;
	left: 50%;
	position: absolute;
	-webkit-box-shadow: 0 0 20px #ccc;
	-moz-box-shadow: 0 0 20px #ccc;
	box-shadow: 0 0 20px #ccc;
	background: #fff;
}

.popUpCon .popBtn div {
	width: 50%;
	display: inline;
	float: left;
	border-top: 1px solid #f5f5f5;
	line-height: 3rem;
}

.popUpCon .popBtn div.pop_cancel1 {
	border-right: 1px solid #f5f5f5;
	width: 49%;
}

.popUpCon .font14 {
	line-height: 7rem;
}

.popUpCon s {
	top: 8px;
	right: 12px;
	bottom: auto;
	left: auto;
	z-index: 6;
	position: absolute;
	text-decoration: none;
	font-size: 2rem;
	font-weight: lighter;
	color: #ccc;
	cursor: pointer;
}


/*3-0阅读类型列表页.html*/

section.book_list .reading_body ul.readLists {
	margin: 0;
	padding: 4em 3% 0 3%;
}

section.book_list .reading_body ul.popList li {
	padding: 0;
	font-size: 1.25rem;
}

section.book_list ul.popList {
	margin: 0;
	height: 23rem;
	width: 100%;
}

section.book_list #stuCepingPoplist ul.popList {
	width: 200%;
}

.revision .book_menu a .popList i,
.revision .book_menu a.current .popList i {
	display: none;
	position: absolute;
	right: 10%;
	top: 50%;
	margin-top: -1em;
	width: 2em;
	height: 2em;
	line-height: 2em;
	text-align: center;
	font-size: 0.8em;
	color: #0097ff;
}

.revision .book_menu a .popList li.selected i {
	display: block;
}

section.book_list ul.readLists li a.blue,
section.book_list ul.readLists li a.gray {
	z-index: 1;
}

.readingType .book_menu .current>span {
	color: #0097ff;
}

.revision .readingType .book_menu a {
	z-index: 3;
	/* font-size: 1.25rem; */
}

.revision .readingType .book_menu a .h1 {
	font-size: 1.25rem;
	display: inline-table;
	width: auto;
	height: 100%;
}

.revision .readingType #popBg {
	z-index: 2;
	background: rgba(0, 0, 0, 0.2);
}

.readListImg {
	width: 5rem;
	height: 5rem;
	float: left;
	margin-right: 0.8rem;
}

#read {
	width: 50%;
	float: left;
	padding: 10px 0;
	background-color: white;
	margin-bottom: 1rem;
}

.read_rightBorder {
	border-right: 1px solid #ddd;
}

div#read {
	text-align: left;
}

.readLists dl dd {
	width: 60%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

section ul.book_list.readLists {
	background-color: white;
	width: 94%;
	margin: 0;
	margin-top: 1.5rem;
	padding: 0 3%;
}

section ul.book_list.readLists li {
	border-bottom: 1px solid #e9e9e9;
	padding: 1rem 0;
	position: initial;
}

ul.readLists .BorderFontBlue {
	border-radius: 3px;
	padding: 3px 10px;
	margin-top: 1.5rem;
}

.readListTitle {
	font-size: 1.3rem;
}

.reading_body .revision .book_menu {
	top: 0;
	position: fixed;
	text-align: center;
	z-index: 3;
}


/*空结果*/

.readingType_empty {
	text-align: center;
	position: absolute;
	/*height: 88%;*/
	height: 100%;
	margin: 0 auto;
	background-color: #f8f8f8;
	width: 100%;
}

.readingType_empty img {
	width: 18rem;
	margin: 0 auto;
	margin-top: 25%;
}

.readingType_empty p {
	margin: 1rem;
	font-size: 1.45rem;
}


/*4-0图书详情.html*/

.bookDetail>div.bookDetail_title {
	border-top: 0;
}

.bookReport_list p.font14.pOerflow1 {
	font-weight: bold;
}

.bookDetail>div {
	background-color: white;
	border-top: 1rem solid #F8F8F8;
	width: 94%;
	padding: 1rem 3%;
}

.bookDetail>div.bookReport {
	padding-bottom: 0;
}

.bookDetail_title .font18 {
	height: auto;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	line-height: 2rem;
	margin-bottom: 0.5rem;
	max-height: 5rem;
	font-weight: 600;
}

.stuBookDetailAuthor {
	height: 3.5rem;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

.bookDetail_title img.bookDetail_title_cover {
	margin: 0 auto;
}

.bookDetail_intro_zhankai {
	text-align: center;
	font-size: 2rem;
}

.bookReport_write {
	font-size: 1.25rem;
}

.bookDetail_intro_zhankai i {
	display: inline-block;
	color: #9a9a9a;
	font-size: 1rem;
	margin-top: 1rem;
	transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	-o-transform: rotate(90deg);
}

.bookReport_list {
	border-bottom: 1px solid #e9e9e9;
	padding: 1rem 0;
}

.bookReport_no {
	text-align: center;
	/*min-height: 18rem;*/
	height: 100%;
	margin-top: -3rem;
}

.bookReport_no img {
	width: 60%;
	margin: 0 auto;
	padding-top: 17%;
}

.bookReport_no p {
	margin: 2rem;
	font-size: 1.45rem;
}

.bookReport_list_info_img img {
	width: 2rem;
	height: 2rem;
	margin: 0.5rem 0.5rem 0 0;
	border-radius: 50%;
}

.bookReport_list_info {
	line-height: 3rem;
	font-size: 1rem;
}

.bookReport_list_info span {
	margin: 0 0.5rem;
}

.bookDetail_more {
	text-align: center;
	background-color: #F8F8F8;
	padding: 1rem 0;
	width: 106%;
	margin-left: -3%;
	margin-bottom: 5rem;
}

.bookDetail>div.bookDetail_bottom {
	position: fixed;
	height: 4rem;
	background-color: white;
	width: 100%;
	bottom: 0;
	padding: 0;
	border-top: 1px solid #e9e9e9;
}

.bookDetail_bottom ul li {
	float: left;
	width: 10%;
	padding: 0.5rem 0;
	text-align: center;
	height: 5rem;
	min-height: 5rem;
}

.bookDetail_bottom ul li.buyBookLi {
	width: 18%;
	padding: 0;
}

.bookDetail_bottom ul li.buyBookLi div {
	margin: 0.5rem 0;
	border-right: 1px solid #e9e9e9;
	border-left: 1px solid #e9e9e9;
}

.bookDetail_bottom ul li.ceping {
	width: 27%;
	background-color: #ff977b;
	line-height: 4rem;
	padding: 0;
}

.bookDetail_bottom ul li.yuedu {
	width: 27%;
	background-color: #47b2f9;
	line-height: 4rem;
	padding: 0;
}

.buyBookLi.mar {
	margin: 0.5rem 0;
}

.bookDetail_bottom ul li.bottomNone {
	display: none;
}

.bookDetail_bottom ul li a {
	color: #666666;
}

.bookDetail_bottom ul li a.colorWhite {
	color: white;
}

.bookDetail_bottom ul li a i {
	font-size: 1.25rem;
	color: #989898;
}

.bookDetail_bottom ul li a p {
	line-height: 2rem;
}

.pop_cancelCollect .popUpCon {
	margin-left: -10rem;
	margin-top: -5rem;
	width: 20rem;
	height: 10rem;
	border-radius: 1rem;
	text-align: center;
	box-shadow: none;
	z-index: 12;
}

.bookReport_list .active {
	color: #56BE47;
}

.bookReport_list:last-child {
	border-bottom: 0;
}

.bookDetail_intro .font16 {
	margin-bottom: 1rem;
	font-weight: 600;
}

.bookDetail_intro .bookDetail_introP1 {
	height: 5rem;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
}

.bookDetail_intro_zhankai.rorateIcon i.icon-arrow {
	transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
}

.bookDetail .bookReport_list_txt.fontGrey2 {
	height: 5rem;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	word-wrap: break-word;
}

.activeGreen {
	color: #56BE47;
}


/*测评页面*/

.ceping_lists .mark {
	display: inline-block;
	vertical-align: top;
	top: 20%;
	right: 0;
	bottom: auto;
	left: auto;
	z-index: 1;
	position: relative;
	font-size: 1.25rem;
}

.ceping_lists .mark.gray,
.ceping_lists .mark.blue {
	border: 0;
}

.select_textul {
	z-index: 4;
}

section ul.book_list.readLists li a.blue,
section ul.book_list.readLists li a.gray {
	top: 32%;
	position: relative;
	z-index: 0;
}

section ul.book_list.readLists li a.link {
	width: 79%;
}

section ul.book_list.readLists.ceping_lists li a.gray {
	padding: 0;
}

.select_textul {
	margin-top: 3rem;
}

.ceping_pop_title {
	border-bottom: 1px solid #e9e9e9;
}

.ceping_popUp .popUpCon {
	width: 100%;
	height: 30rem;
	text-align: left;
	bottom: 0;
	position: fixed;
	top: auto;
	left: 0;
	z-index: 12;
	box-shadow: 0px -4px 40px 0px rgba(0, 0, 0, 0.35);
}

.ceping_popUp .popUpCon>div {
	padding: 0.2rem 3%;
	line-height: 2rem;
	font-size: 1.25rem;
}

.ceping_popUp .popUpCon>div:nth-of-type(2) {
	margin-top: 0.8rem;
}

.degree i.icon-star {
	margin: 0 0.2rem;
}

.ceping_popUp #popBg1,
.ceping_popUp #popBg2,
.ceping_popUp #popBg3,
.pop_cancelCollect.teacher_ceping #popBg1 {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.2);
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	display: none;
	z-index: 11;
}

.ceping_pop_title img {
	width: 7rem;
	height: 7rem;
	margin-top: -2rem;
	margin-right: 1.1rem;
	box-shadow: 0px 0px 1px #e7e7e7, 0px 0px 0 3px #fff, 0px 0px 4px 4px rgba(221, 221, 221, 0.49);
	border-radius: 0.5rem;
}

.ceping_popUp .popUpCon .font14 {
	line-height: 3rem;
}

.ceping_pop_title .ceping_popUp .popUpCon .font14 {
	line-height: 2rem;
	width: 95%;
}

.ceping_popUp .popUpCon>div.popBtn {
	padding: 0;
}

.popBtn div a {
	padding: 0.7rem 0;
	bottom: 0;
	text-align: center;
	width: 50%;
}

.popBtn div a.addPlanA {
	background-color: #ff977b;
}

.popBtn div a.tryAgainA {
	background-color: #47b2f9;
	right: 0;
}

.ceping_popUp .popUpCon .popBtn div {
	border-top: 0;
}

.ceping_popUp .popBtn div a {
	position: absolute;
	font-size: 1.4rem;
}

.ceping_popUp .popUpCon>div.ceping_pop_title {
	padding: 0.5rem 3%;
}


/*测评-日期弹窗*/

.mbsc-mobiscroll .mbsc-fr-btn-w {
	width: 50%;
	text-align: center;
	line-height: 4rem;
}

.mbsc-fr-persp .mbsc-fr-overlay {
	background: rgba(0, 0, 0, 0.2);
}

.mbsc-fr-btn0.mbsc-fr-btn-e.mbsc-fr-btn {
	color: white;
	background-color: #47b2f9;
	height: 4rem !important;
	line-height: 4rem;
}

.mbsc-fr-btn1.mbsc-fr-btn-e.mbsc-fr-btn {
	color: #989898;
	background-color: #f2f4f6;
	height: 4rem !important;
	line-height: 4rem;
}

.mbsc-mobiscroll .mbsc-fr-popup .mbsc-fr-w {
	background-color: white;
	box-shadow: 0px -4px 40px 0px rgba(0, 0, 0, 0.35);
}

.mbsc-mobiscroll .mbsc-fr-popup .mbsc-fr-btn-cont {
	padding: 0;
	height: 4rem;
}

header {
	z-index: 10;
}

.cepingAddPlanSuc {
	display: none;
	position: absolute;
	background-color: rgba(0, 0, 0, 0.7);
	padding: 1rem;
	border-radius: 0.5rem;
	width: 8rem;
	height: 1.5rem;
	line-height: 1.5rem;
	font-size: 1.25rem;
	text-align: center;
	margin: auto;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}


/*4-1写读后感.html*/

header .writeReport_head {
	font-size: 1.5rem;
	line-height: 3.5rem;
	font-weight: 400;
}

header .writeReport_head1 {
	color: #1b80f1;
}

header .writeReport_head2 {
	color: rgba(27, 128, 241, 0.5);
}

.writeReport {
	background-color: white;
	width: 94%;
	padding: 0 3%;
	padding-top: 3.5rem;
}

section.greyBc.stuMyReadReport {
	/*height: 100%;*/
}

.writeReport input {
	border: 0;
	display: block;
	font-size: 2rem;
	color: #424242;
	font-weight: 600;
	padding: 1rem 0;
	border-bottom: 1px solid #e9e9e9;
	box-shadow: none;
	width: 100%;
}

.writeReport::-webkit-input-placeholder {
	/* WebKit, Blink, Edge */
	color: #ccc;
}

.writeReport:-moz-placeholder {
	/* Mozilla Firefox 4 to 18 */
	color: #ccc;
	opacity: 1;
}

.writeReport::-moz-placeholder {
	/* Mozilla Firefox 19+ */
	color: #ccc;
	opacity: 1;
}

.writeReport:-ms-input-placeholder {
	/* Internet Explorer 10-11 */
	color: #ccc;
}

.writeReport textarea {
	width: 100%;
	border: 0;
	resize: none;
	outline: none;
	padding: 1rem 0;
	height: 88%;
	min-height: 10rem;
	overflow: auto;
	font-size: 1.35rem;
	line-height: 2.3rem;
	color: #3f3f3f;
	margin-top: 0.7rem;
}

.writeReport_section {
	/*height: 90%;*/
}


/*4-2读后感详情.html*/

.bookDetail>div.readReport {
	padding-top: 0;
	line-height: 2rem;
	border-top: 0;
}

.bookDetail>div.readReport#myreadReport {
	width: 88%;
	padding: 0.5rem 6%;
}

.bookDetail>div.readReport .readReport_detail {
	font-size: 1.25rem;
	line-height: 2.5rem;
	word-wrap: break-word;
	margin-bottom: 4rem;
}

.myReadReportContent {
	font-size: 1.35rem;
	line-height: 2.3rem;
	color: #3f3f3f;
	margin-top: 0.7rem;
	word-wrap: break-word;
}

.readReport .font18 {
	padding: 1rem 0;
	font-weight: 600;
}

.readReport .readReport_img img {
	width: 3rem;
	height: 3rem;
	margin-right: 1rem;
	margin-top: 0.3rem;
	border-radius: 50%;
}

.bookDetail>div.readReport_daodi {
	text-align: center;
	margin: 1rem 0;
	background-color: #f8f8f8;
	padding: 1rem 3%;
	border: 0;
	margin-bottom: 4rem;
}

.readReport_daodi hr {
	width: 35%;
	border-style: none;
	border-bottom: 1px solid #ccc;
	display: inline-block;
}

.readReport_daodi span {
	vertical-align: top;
}

.bookDetail div.bookDetail_bottom.readReport_bottom {
	text-align: center;
	/*padding: 1rem 0;*/
	/*border: 0;*/
	line-height: 4rem;
	height: 4rem;
	font-size: 1.2rem;
}

.readReport_bottom i {
	font-size: 1.5rem;
}

.readReport span {
	margin: 0 0.5rem;
}


/*10-0我的读后感*/


/* .stuMyReadReport{
	height: auto !imporant;
	height: 100%;
	min-height: 100%;
} */

.stuMyReadReport .bookReport_has {
	background-color: #f8f8f8;
	/*margin-bottom: 5rem;*/
}

.myReadReport_more {
	text-align: left;
	background-color: #f8f8f8;
	padding: 0 1rem;
	height: 3rem;
	line-height: 3rem;
	font-size: 1.15rem;
}

.myReport_list_img img {
	width: 6rem;
	height: 8rem;
	margin-right: 1rem;
}

.bookReport_list.myReport_list {
	padding: 1rem 3%;
	margin-bottom: 1rem;
	background-color: white;
	border-top: 1px solid #e9e9e9;
	border-bottom: 1px solid #e9e9e9;
}

.bookReport_list.myReport_list .font14 {
	margin-bottom: 0.5rem;
	margin-top: 0;
	font-weight: bold;
	font-size: 1.33rem;
}

.bookReport_list.myReport_list .bookReport_list_txt {
	overflow: hidden;
}

.bookReport_list.myReport_list .bookReport_list_txt p {
	height: 5rem;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	margin-top: 0;
	word-wrap: break-word;
}

.myReport_list_time {
	margin-top: 1rem;
	font-size: 1.15rem;
}

.myReport_youxiu {
	background-color: #fff0ee;
	border-bottom: 1px solid #fedad5;
	padding: 1rem 0;
	border-radius: 0.5rem;
	margin-top: 1rem;
}

.myReport_youxiu_title {
	background-color: #fd7c67;
	padding: 0.5rem;
	margin-left: -0.1rem;
	border-bottom-right-radius: 2rem;
	border-top-right-radius: 2rem;
}

.myReport_youxiu_txt {
	padding: 1rem 1rem 0 1rem;
}


/*12-0读后感详情-有编辑按钮.html*/

.bookDetail>div.readReport_daodi.student_readReport_detail_bottom {
	margin-bottom: 0;
}

.more.delete_more1 {
	right: 3.5rem;
}

.more.delete_more i {
	display: inline;
	margin: 0 0.5rem;
}

.readReport span.myReport_youxiu_title {
	margin-left: -0.1rem
}


/*老师页面*/


/*3-0阅读类型列表页.html*/

.revision .book_menu.teacher_book_menu a {
	width: 33.3%;
}

.revision .book_menu.teacher_book_menu a span {
	right: 9%;
}

.revision .book_menu a:nth-of-type(2) {
	margin-left: -1px;
	border-left: 1px solid #e9e9e9;
}

.revision .teacher_book_menu .popList {
	width: 300%;
}

.popList2 {
	left: -100%;
}


/*4-0老师-图书详情.html*/

.teacher_bookDetail_bottomLi ul li.collectLi,
.teacher_bookDetail_bottomLi ul li.buyBookLi {
	width: 20%;
}

.teacher_bookDetail_bottomLi ul li.ceping,
.teacher_bookDetail_bottomLi ul li.yuedu {
	width: 30%;
}


/*5-0老师-测评.html*/

.popUpCon .popBtn div.teacher_notPublish a {
	width: 100%;
}

.popBtn div.teacher_notPublish a.addPlanA {
	background-color: #47b2f9;
}

.popBtn div.teacher_notPublish a.addPlanA.teacher_wuti {
	background-color: #dddddd;
}

.teacher_ceping .popUpCon {
	z-index: 12;
}


/*6-0课程.html*/

section.book_list ul.teacherCourseLists li a.link {
	width: 100%;
}


/*10-0老师-读后感.html*/

#teacher_readReport {
	width: 100%;
}

#tab li {
	float: left;
	height: 3rem;
	cursor: pointer;
	line-height: 3rem;
	list-style-type: none;
	width: 33.33%;
	text-align: center;
	background-color: white;
	border-bottom: 1px solid #ddd;
}

#tab li.current {
	color: #0099ff;
	border-bottom: 1px solid #0099ff;
}

#content ul {
	display: none;
}

.teacher_readReport_tabLi {
	width: 98%;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	height: 1rem;
	margin: 1rem 0;
	line-height: 1rem;
}

.teacher_readReport_youxiu {
	margin: 0 0 1rem -1rem;
}


/*12-0老师-读后感详情.html*/

.bookDetail>div.bookDetail_bottom.teacher_readReport_bottom {
	height: 3.5rem;
}

.teacher_readReport_bottom a {
	width: 50%;
	position: absolute;
	text-align: center;
	height: 3.5rem;
	line-height: 3.5rem;
}

.teacher_readReport_bottom a.fontBlue {
	background-color: white;
}

.teacher_readReport_bottom a.colorWhite {
	background-color: #47b2f9;
	right: 0;
}


/*12-0老师-读后感详情-优秀*/

.teacher_readReport_youxiu1 {
	margin: 1rem 0 1rem -1rem;
}


/*5-1老师-完成情况*/

.teacher_stuRange li p:first-of-type {
	width: 10%;
}

.teacher_stuRange .range_qian3 {
	color: #f1bc2b;
}

.teacher_stuRange .rangeGrey {
	color: #cccccc;
}

.teacher_stuRange img.avatar {
	width: 3rem;
	height: 3rem;
	border-radius: 50%;
	display: inline;
	vertical-align: middle;
}

.teacher_stuRange .zhengchang {
	color: #4bb963;
}

.teacher_stuRange .weicanyu {
	color: #36abf8;
}

.teacher_stuRange .yiguoqixian {
	color: #f9ac47;
}

.teacher_stuRange .zhengquelv {
	color: #f9816d;
}

.teacher_stuRange1 {
	border-top: 1px solid #e9e9e9;
	border-bottom: 1px solid #e9e9e9;
}

.teacher_stuRange {
	/*border-top: 1px solid #e9e9e9;*/
	width: 94%;
	margin: 0 3%;
	text-align: center;
}

.teacher_stuRange li {
	border-bottom: 1px solid #e9e9e9;
	height: 5rem;
	line-height: 5rem;
}

.teacher_stuRange li:last-child {
	border-bottom: 0;
}

.teacher_stuRange li.rangeHead {
	height: 3rem;
	line-height: 3rem;
}

.teacher_stuRange li>p {
	width: 21%;
	float: left;
	margin: 0;
}

.teacher_stuRange li>p.student {
	width: 27%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}


/*表格隐藏部分*/

.rangeHide {
	display: none;
}

.teacher_stuRange li.rangeHide {
	background-color: #f9fafa;
	text-align: right;
	width: 106%;
	margin-left: -3%;
}

.rangeHide button.BorderFontBlue {
	background-color: white;
	padding: 0.5rem;
	border-radius: 0.5rem;
	margin: 0 0.5rem;
}

.rangeHead span {
	text-align: center;
}


/*在真机上测试*/

.revision .book_menu a span {
	-ms-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	-o-transform: rotate(90deg);
}


/*8-0任务*/

.ew_tab section.book_list.tab-c ul li strong {
	cursor: pointer;
}


/*8-0任务-推荐任务-空页面*/

.emptyTask_tuijian {
	color: white;
	background-color: #3aacf8;
	padding: 0.5rem 1rem;
	border-radius: 0.5rem;
	margin: 1rem 0;
	line-height: 4rem;
}

section.wy {
	padding-top: 0;
}

.teacher_stuRange1 p.font16.fontBlue {
	margin: 1rem 0;
}

.teacher_stuRange_echart {
	margin-bottom: 2rem;
}

.bottomNone {
	display: none;
}

.revision .book_menu a:first-of-type .popList {
	width: 200%;
	padding: 0px;
}

.revision .book_menu a:last-of-type .popList {
	width: 200%;
	padding: 0px;
}

.teacher_stuRange li>p.student {
	text-align: left;
}

.teacher_stuRange li>p.student2 {
	text-align: center;
	width: 27%;
}

li.rangeHead p.student {
	text-align: center;
}

.teacher_stuRange li>p {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-weight: 400;
}


/*新添公共颜色*/

.colorCCC {
	color: #CCCCCC;
}

.color444 {
	color: #444;
}

.color999 {
	color: #999;
}

.marginBottom5 {
	margin-bottom: 5rem;
}

#likes {
	display: block;
	width: 100%;
}


/*异常页面*/

.errorPage {
	background-color: #fafafa;
}

.errorPage img {
	position: absolute;
	bottom: 0;
	width: 100%;
}

.errorPage p {
	position: absolute;
	bottom: 20rem;
	color: #9d907f;
	font-size: 1.5rem;
	margin-left: 4rem;
}


/* 图书详情封面自适应 */

.img_nav {
	width: 8rem;
	height: 8rem;
	border: 1px solid #ddd;
	position: relative;
	left: 0;
	top: 0;
	z-index: 2;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

.txt_nav {
	width: 64%;
	position: absolute;
	right: 0;
	top: 1rem;
	z-index: 1;
}