blockquote,
body,
code,
dd,
div,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
html,
input,
legend,
li,
menu,
ol,
p,
pre,
td,
textarea,
th,
ul {
  margin: 0;
  padding: 0
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

fieldset,
img {
  display: block;
  border: 0 !important
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal
}

li {
  list-style: none
}

caption,
th {
  text-align: left
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%
}

q:after,
q:before {
  content: ''
}

abbr,
acronym {
  border: 0;
  font-variant: normal
}

sup {
  vertical-align: text-top
}

sub {
  vertical-align: text-bottom
}

input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit
}

button,
input,
select {
  outline: medium none;
  vertical-align: middle
}

legend {
  color: #000
}

article,
aside,
dialog,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block
}

body,
html {
  width: 100%;
  height: 100%;
  text-align: center;
  font-family: "Microsoft YaHei", Helvetica;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

a,
a:hover,
a:link,
a:visited {
  text-decoration: none
}

header {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  width: 100%;
  height: 3.5em;
  border-bottom: solid 1px #e9e9e9;
  background: #fff;
  top: 0;
  right: auto;
  bottom: auto;
  left: 0;
  z-index: 99999;
  position: fixed
}

header a {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  width: 3.5rem;
  height: 3.5rem
}

header a.back {
  top: 0;
  right: auto;
  bottom: auto;
  left: 0rem;
  z-index: 99999;
  position: absolute
}

header a.more {
  top: 0;
  right: .5rem;
  bottom: auto;
  left: auto;
  z-index: 99999;
  position: absolute
}

header a i {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  width: 100%;
  height: 100%;
  line-height: 3.5rem !important;
  font-size: 1.3rem;
  color: #666
}

header a i.icon-arrow {
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  transform: rotate(-180deg)
}

header a span {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  width: 100%;
  height: 100%;
  line-height: 3.5rem;
  font-size: 1.5rem;
  color: #09f
}

header h1 {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 70%;
  height: 100%;
  line-height: 3.5rem;
  font-size: 1.5rem;
  font-weight: normal;
  color: #333
}

.search {
  width: 94%;
  height: 2.5rem;
  margin: 0 3%;
  padding: 0.7rem 0;
  background: #fff
}

.search a.search_link {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  float: left;
  width: 90%;
  height: 100%;
  line-height: 2.5rem;
  border-radius: 5px;
  font-size: 1.1rem;
  color: #999;
  background: #f3f3f3
}

.search a.search_link i.icon-search {
  font-size: 1rem;
  margin-right: 0.3rem;
}

.search a.menu_link {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  float: right;
  font-size: 2rem;
  color: #989898;
  position: relative
}

.search a.menu_link i {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  height: 100%;
  line-height: 2.5rem
}

.search a.menu_link s {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  top: 0;
  right: -.5rem;
  bottom: auto;
  left: auto;
  z-index: 3;
  position: absolute;
  width: 10px;
  height: 10px;
  border: solid 2px #fff;
  border-radius: 50%;
  background: #fd6951
}

.swiper-container img {
  width: 100%
}

.menu_index {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  width: 100%;
  padding: 1rem 0;
  font-size: 0
}

.menu_index ul {
  white-space: nowrap;
  overflow: auto;
  transition: tranform 1s;
}

.menu_index ul::-webkit-scrollbar {
  display: none;
  /*隐藏滚轮*/
}

.menu_index li {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  width: 20%;
  font-size: 1.25rem;
  transition: transform 1s;
}

.menu_index li a {
  display: block
}

.menu_index li a img {
  margin: 0 auto;
  width: 50%;
  margin-bottom: 0.5rem;
}

.menu_index li a span {
  line-height: 2rem;
  color: #666
}

.index_list {
  margin: 0 !important;
  border-top: solid 1rem #f3f3f3
}

.index_list .tit_index {
  width: 94%;
  height: 4rem;
  line-height: 4rem;
  margin: 0 3% auto;
  border-bottom: solid 1px #e5e5e5;
  text-align: left
}

.index_list .tit_index img {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  height: 2rem;
  margin: 1rem 0.4rem 1rem 0
}

.index_list .tit_index span {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  font-size: 1.5rem
}

.index_list .tit_index a {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  float: right;
  color: #666
}

.index_list .tit_index a span {
  font-size: 1.25rem;
  margin-right: 0.2rem;
}

.index_list .icon_class {
  width: 100%;
  margin-bottom: 1rem;
}

.index_list .icon_class img {
  width: 32%;
  margin: 0 auto;
}

.index_list .icon_class p {
  height: 4rem;
  line-height: 4rem;
  font-size: 1.5rem;
  color: #999;
}

.index_list .icon_class a {
  display: block;
  width: 30%;
  height: 3rem;
  line-height: 3rem;
  margin: 0 auto;
  border: solid 1px #47b2f9;
  border-radius: 1.5rem;
  font-size: 1.5rem;
  background: #e4f4fe;
  color: #47b2f9;
}

.index_list dl {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  width: 94%;
  margin: 0 3%
}

.index_list dl dd {
  width: 100%;
  height: 2rem;
  line-height: 2rem;
  padding: 1rem 0;
  border-bottom: solid 1px #e5e5e5;
  text-align: left
}

.index_list dl dd a {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  width: 100%;
  height: 100%;
  color: #333
}

.index_list dl dd a span {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  float: left;
  width: 80%;
  height: 100%;
  font-size: 1.25rem;
  text-indent: 2rem
}

.index_list dl dd a i {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  float: right;
  line-height: 200%;
  color: #cecece;
}

.index_list dl dd:last-of-type {
  border: 0
}

dl.menu_list {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  top: 4.7rem;
  right: .5rem;
  bottom: auto;
  left: auto;
  z-index: 3;
  position: absolute;
  display: none;
  width: 43%;
  border-radius: 8px;
  background: #fff
}

dl.menu_list.teacher_menu_list {
  width: 38%;
}

dl.menu_list dt {
  position: absolute;
  top: -8px;
  right: 3rem;
  bottom: auto;
  left: auto;
  z-index: 99991;
  position: absolute
}

dl.menu_list dt:before,
dl.menu_list dt:after {
  content: "";
  position: absolute
}

dl.menu_list dt:before {
  top: 0;
  left: 0;
  border-bottom: 8px solid #fff;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent
}

dl.menu_list dt:after {
  left: 2px;
  top: 2px;
  border-bottom: 6px solid #fff;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent
}

dl.menu_list dd {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  width: 100%;
  height: 3.5rem;
  line-height: 3.5rem;
  text-align: left;
  border-bottom: solid 1px #e5e5e5;
  position: relative
}

dl.menu_list dd:last-of-type {
  border-bottom: 0
}

dl.menu_list dd i {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  font-size: 1.75rem;
  height: 1.9rem;
  margin: 0.8rem 1.2rem;
  color: #566e7f
}

dl.menu_list dd span {
  font-size: 1.25rem
}

dl.menu_list dd s {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  top: .5rem;
  right: auto;
  bottom: auto;
  left: 2rem;
  z-index: 3;
  position: absolute;
  width: 10px;
  height: 10px;
  border: solid 2px #fff;
  border-radius: 50%;
  background: #fd6951
}

.pop_bg {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1)
}

section.book_list {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  margin-top: 3.5rem;
  text-align: left
}

section.book_list ul {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  width: 94%;
  padding: 0 3%;
}


/*解决任务页面宽度问题*/

section.book_list ul#table1 {
  width: 94% !important;
}


/*解决border-top问题*/

.borderTop1 {
  border-top: 1px solid #e9e9e9;
}

section.book_list ul li {
  width: 100%;
  height: 5rem;
  padding: 1rem 0;
  border-bottom: solid 1px #e9e9e9;
  text-align: left;
  position: relative
}

section.book_list ul li a.link {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  width: 80%
}

section.book_list ul li a.link img {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  width: 5rem;
  height: 5rem;
  border-radius: 0.7rem;
  margin-right: 1rem
}

section.book_list ul li a.link div {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  width: 65%
}

section.book_list ul li a.link div h1,
section.book_list ul li a.link div p {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 99%
}

section.book_list ul li a.link div h1 {
  font-size: 1.25rem;
  font-weight: normal;
  color: #333;
  line-height: 2rem
}

section.book_list ul li a.link div p {
  font-size: 1rem;
  color: #989898;
  line-height: 1.5rem
}

section.book_list ul li a.blue,
section.book_list ul li a.gray {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  top: 35%;
  right: 0;
  bottom: auto;
  left: auto;
  z-index: 2;
  position: absolute;
  width: 4rem;
  padding: 0.3rem 1rem;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  font-size: 1.25rem;
  text-align: center;
}

section.book_list ul li a.blue {
  border-color: #09f;
  color: #09f
}

section.book_list ul li a.gray {
  border-color: #989898;
  color: #989898
}

section.book_list ul li time {
  top: 0;
  right: 0;
  bottom: auto;
  left: auto;
  z-index: 2;
  position: absolute;
  line-height: 7rem;
  color: #989898
}

section.book_list ul li:last-of-type {
  border-bottom: 1px solid #e9e9e9;
}


/*针对-最近浏览的列表*/

section.book_list ul#readStarusUl li:last-of-type {
  border-bottom: 1px solid #e9e9e9;
}


/*针对我的任务-列表*/

#tabB section#table1.book_list ul li:last-of-type,
#tabB section#table2.book_list ul li:last-of-type,
#tabB section#table3.book_list ul li:last-of-type {
  border-bottom: 1px solid #e9e9e9;
}

.wy ul {
  width: 100% !important;
  margin: 0 !important
}

.ew_tab {
  width: 100%;
  margin-top: 3.5rem
}

.ew_tab .menu_task {
  width: 100%;
  height: 3.5rem;
  line-height: 3.5rem;
  border-bottom: solid 1px #e9e9e9;
  font-size: 0
}

.ew_tab .menu_task li {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  width: 33%;
  height: 1.3rem;
  padding: 1rem 0;
  font-size: 1.25rem
}

.ew_tab .menu_task li.tab-cur {
  border-bottom: solid 0.2rem #09f;
  color: #09f;
}

.ew_tab .menu_task li span {
  display: block;
  width: 100%;
  height: 100%;
  line-height: 1.3rem
}

.ew_tab .menu_task li:nth-child(2) span {
  border-left: solid 1px #e5e5e5;
  border-right: solid 1px #e5e5e5
}

.ew_tab .tab-c {
  display: none;
  margin-top: 0 !important;
  border-top: solid 1rem #f8f8f8;
}

.ew_tab .tab-c li {
  position: relative
}

.ew_tab .tab-c li .trapezoid {
  top: 1.75rem;
  right: auto;
  bottom: auto;
  left: -1.5rem;
  z-index: 2;
  position: absolute;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  height: 0;
  width: 3rem;
  border-bottom: 1.5rem solid #42cc52;
  border-left: 1.5rem solid transparent;
  border-right: 1.5rem solid transparent;
  color: #fff;
  text-align: center
}

.ew_tab .tab-c li strong {
  top: 0;
  right: 0;
  bottom: auto;
  left: auto;
  z-index: 2;
  position: absolute;
  line-height: 7rem;
  color: #fd6951
}

section.task_nav {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  margin-top: 3.5rem;
  padding: 0 !important
}

section.task_nav .task_info {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  width: 94%;
  margin: 1.5rem 3%;
  font-size: 0
}

section.task_nav .task_info img {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  width: 22%
}

section.task_nav .task_info div {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  width: 68%;
  margin: 0 5%;
  text-align: left
}

section.task_nav .task_info div p {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  width: 100%;
  line-height: 2rem;
  font-size: 1.5rem;
  color: #333
}

section.task_nav .task_info div span {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  line-height: 2rem;
  font-size: 1rem;
  color: #666
}

section.task_nav .task_title {
  width: 94%;
  padding: 0 3%;
  height: 2.5rem;
  line-height: 2.5em;
  background: #f3f3f3;
  color: #666;
  text-align: left
}

section.task_nav .task_set {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  width: 94%;
  margin: 0 3%
}

section.task_nav .task_set dl {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  *height: 1%;
  width: 100%;
  text-align: left
}

section.task_nav .task_set dl:after {
  clear: both;
  content: '.';
  display: block;
  height: 0;
  line-height: 0;
  overflow: hidden
}

section.task_nav .task_set dl dt {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  min-height: 3rem;
  height: auto !important;
  height: 3rem;
  width: 100%;
  border-bottom: solid 1px #e5e5e5
}

section.task_nav .task_set dl dt div {
  width: 100%;
  margin: 1rem 0
}

section.task_nav .task_set dl dt div a {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  padding: 0.5rem 1rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  border: solid 1px #989898;
  border-radius: 5px;
  color: #989898
}

section.task_nav .task_set dl dt div a.current {
  border: solid 1px #09f;
  color: #09f
}

section.task_nav .task_set dl dt span {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  width: 100%;
  margin-bottom: 1rem;
  color: #989898
}

section.task_nav .task_set dl dd {
  width: 100%;
  height: 3.5rem;
  line-height: 3.5rem;
  font-size: 1.25rem;
  border-bottom: solid 1px #e5e5e5;
  position: relative
}

section.task_nav .task_set dl dd span {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1
}

section.task_nav .task_set dl dd input#taskTime,
section.task_nav .task_set dl dd input[type="text"] {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  float: right;
  width: 60%;
  height: 90%;
  margin: 2px 10% 0 0;
  border: 0;
  text-align: right;
  color: #989898
}

section.task_nav .task_set dl dd i {
  top: 0;
  right: 0;
  bottom: auto;
  left: auto;
  z-index: 2;
  position: absolute;
  height: 100%;
  line-height: 3.5rem;
  color: #989898
}

section.task_nav .task_set dl dd:last-of-type {
  border: 0
}

section.task_nav textarea {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  min-height: 6rem;
  height: auto !important;
  height: 6rem;
  width: 94%;
  padding: 1rem 3%;
  border: 0;
  resize: none;
  outline: none;
  overflow: auto;
  font-size: 1.25rem;
  border-bottom: solid 2rem #f3f3f3
}

.mbsc-mobiscroll .mbsc-fr-w {
  background: #fff !important
}

.mbsc-fr-overlay {
  background: rgba(0, 0, 0, 0.3) !important
}

.mbsc-mobiscroll .mbsc-fr-btn-cont {
  height: 3.5rem;
  padding: 0 !important
}

.mbsc-mobiscroll .mbsc-fr-btn-w {
  width: 50%;
  height: 100%;
  line-height: 3.5rem;
  padding: 0
}

.mbsc-fr-lock .mbsc-mobiscroll .mbsc-fr-btn-c .mbsc-fr-btn,
.mbsc-fr-lock .mbsc-mobiscroll .mbsc-fr-btn-s .mbsc-fr-btn {
  width: 100%;
  height: 3.5rem;
  padding: 0 !important;
  text-align: center
}

.mbsc-fr-lock .mbsc-mobiscroll .mbsc-fr-btn-s .mbsc-fr-btn {
  background: #47b2f9;
  color: #fff
}

.mbsc-fr-lock .mbsc-mobiscroll .mbsc-fr-btn-c .mbsc-fr-btn {
  background: #f2f4f6;
  color: #989898
}

.mbsc-mobiscroll .mbsc-sc-whl-w {
  width: 100%;
  margin: 0 !important;
  font-size: 1rem
}

.mbsc-mobiscroll .mbsc-sc-whl-multi .mbsc-sc-itm-sel:before {
  display: block;
  width: 1.4rem;
  height: 1.4rem;
  line-height: 1.4rem;
  border-radius: 50%;
  background: #09f;
  margin-top: -0.7rem;
  color: #fff !important;
  position: absolute;
  top: 50%;
  left: auto !important;
  right: 1rem;
  text-align: center
}

.mbsc-mobiscroll .mbsc-sc-whl-multi .mbsc-sc-itm {
  border-bottom: solid 1px #e9e9e9 !important;
  /*text-align: left;*/
}

.mbsc-mobiscroll .mbsc-sc-itm.mbsc-btn-a {
  background: rgba(0, 153, 255, 0.3) !important
}

.chk_3+label {
  float: right;
  margin: 0.8rem 0 !important;
  width: 1.8rem !important;
  height: 0.7rem !important;
  padding: 0.6rem !important
}

.chk_3+label:before {
  width: 1.7rem !important;
  height: 1.7rem !important;
  border-radius: 50% !important;
  z-index: 100 !important
}

.chk_3:checked+label:before {
  left: 1.2rem !important
}

.chk_3:checked+label:after {
  background: #47b2f9 !important;
  box-shadow: 0 0 1px #47b2f9 !important
}

.analyze {
  width: 100%;
  margin-top: 3.5rem
}

.analyze .submit_top {
  width: 100%;
  height: 10rem;
  padding-top: 4rem;
  background: #ecf7ff;
  border-bottom: solid 1rem #f3f3f3;
  background-image: url("../img/img_07.png");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 100%;
  color: #09f
}

.analyze .submit_top strong {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  width: 100%;
  font-size: 2rem;
  line-height: 3rem
}


/*学生-我的报告-用户样式修改*/

.analyze .submit_top strong.stuReportUserName {
  font-size: 1.75rem;
  color: #333;
}

.analyze .submit_top span.stuReportUserclass {
  font-size: 1.33rem;
  color: #666;
}

.analyze .submit_top span {
  font-size: 1.25rem
}

.chart {
  margin-bottom: 1rem;
  width: 100%;
  height: auto !important;
  height: 40rem;
  min-height: 40rem;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background: #fff;
  position: relative
}

.chart a.view {
  display: block;
  width: 100%;
  color: #0097ff;
  position: absolute;
  top: 22rem;
  left: 0;
  z-index: 2
}

.chart a i {
  display: inline-block;
  font-size: 1.25rem
}

.chart a span {
  display: inline-block
}

.chart .tit {
  width: 100%;
  height: 5rem
}

.chart .tit strong,
.chart .tit span {
  display: block;
  width: 100%;
  height: 2rem
}

.chart .tit strong {
  line-height: 4rem;
  font-size: 1.5rem;
  font-weight: normal;
  color: #09f
}

.chart .tit span {
  line-height: 4rem;
  font-size: .75rem;
  color: #989898
}

.chart .data {
  width: 96%;
  margin: 0.5rem 2%;
  position: relative;
  z-index: 2
}

.chart .data li {
  display: inline-table;
  width: 32%;
  height: auto;
  font-size: .875rem;
  color: #333
}

.chart .data li strong {
  position: inherit !important;
  font-size: 2rem;
  font-weight: lighter;
  color: #333 !important
}

.chart .data li i {
  font-size: .875rem;
  color: #666
}

.chart .data li a {
  color: #333
}

.chart .data span {
  display: inline-block;
  color: #989898
}

.chart .describe {
  margin: 0 3% 2rem 3%;
  padding: 0.5rem 3%;
  width: 88%;
  height: auto !important;
  height: 2rem;
  min-height: 2rem;
  line-height: 1.5rem;
  font-size: .875rem;
  color: #666;
  background: #f5f9fe;
  text-align: left
}

.chart #chartsRadar {
  width: 92%;
  height: 27rem;
  margin: -6rem auto 3rem auto
}

.chart #chartsLine {
  width: 92%;
  height: 16em;
  margin: 2rem auto 5rem auto
}

.chart #chartsPiemini {
  width: 92%;
  height: 16rem;
  margin: 8rem auto 5rem auto
}

.chart #chartsBar {
  width: 92%;
  height: 20rem;
  margin: -2rem auto 8rem auto
}

.chart #chartsPie {
  width: 92%;
  height: 16rem;
  margin: 0 auto 5rem auto
}

.visible .chart #chartsRadar {
  margin: 0 auto 3rem auto
}

#tabB {
  margin: 1rem auto
}

#tabB ul.analyse_menu {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  width: 40%;
  margin: 0 auto;
  font-size: 0
}

#tabB ul.analyse_menu .tab-s {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  width: 50%;
  height: 2rem;
  line-height: 2rem;
  background: #f1f1f1;
  color: #989898;
  font-size: 1.25rem
}

#tabB ul.analyse_menu .tab-s:first-of-type {
  border-radius: 1rem 0 0 1rem
}

#tabB ul.analyse_menu .tab-s:last-of-type {
  border-radius: 0 1rem 1rem 0
}

#tabB ul.analyse_menu .tab-cur02 {
  background: #46b4ff;
  color: #fff
}

#tabB .tab-k {
  display: none;
  width: 80%;
  margin: 1rem auto
}

#tabB .tab-k ul {
  font-size: 0
}

#tabB .tab-k ul li {
  width: 49%;
  text-align: left;
  padding: 1rem 0
}

#tabB .tab-k ul li:first-of-type {
  border-right: solid 1px #e7e7e7
}

#tabB .tab-k ul li:last-of-type {
  text-indent: 1.5rem
}

#tabB .tab-k ul li p {
  display: block;
  width: 99%;
  line-height: 1.5rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

#tabB .tab-k ul li p strong {
  line-height: 2rem;
  color: #0097ff !important;
  font-weight: 400;
}

#tabB .tab-k ul:first-of-type {
  border-bottom: solid 1px #e7e7e7
}

section {
  padding: 0 !important
}

.reading_body .tit {
  width: 100%;
  height: 3rem
}

.reading_body .tit strong {
  display: block;
  width: 100%;
  height: 3rem;
  line-height: 3rem;
  font-size: 1.5rem;
  font-weight: normal;
  color: #09f;
  text-align: center
}

.teacher_stuRange1 {
  border: 0 !important
}

section {
  *height: 1%;
  width: 100%
}

section:after {
  clear: both;
  content: '.';
  display: block;
  height: 0;
  line-height: 0;
  overflow: hidden
}

.teacher_readReport_bottom a:first-child {
  color: #999;
}

.teacher_readReport_bottom a:last-child {
  right: 0;
  border-left: 1px solid #e9e9e9;
  margin-left: -1px;
  color: white;
  background-color: #fd8e7c;
}

.teacher_readReport_bottom a.colorWhite {
  background-color: #47b2f9;
}

#top {
  position: fixed;
  right: 1em;
  bottom: 1em;
  z-index: 99997;
  display: block;
  width: 3em;
  height: 3em;
  padding: 0.5em;
  font-size: 0.8em;
  border-radius: 3em;
  border: 1px solid #b6b6b6;
  background: #fff;
  opacity: 0.8;
  color: #a0a0a0;
  text-align: center;
}

#top i {
  margin: 0.2rem 0.5em;
  font-size: 1.4em;
  color: #4e4e4e;
  display: inline-block;
  transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
}

.recently_empty {
  height: 100%;
  background-color: #f8f8f8;
}

.recently_empty img {
  width: 60%;
  margin: 0 auto;
  padding-top: 3rem;
}

.recently_empty .fontGrey1 {
  color: #9B9B9B;
  font-size: 1.45rem;
  text-align: center;
  line-height: 6rem;
}

.bgF8 {
  background-color: #f8f8f8;
}


/*学生-报告页面修改*/

.stuReportUserAvatar {
  width: 3.85rem;
  height: 3.85rem;
  border-radius: 50%;
  margin: 0 auto;
}

img.stuReportUserShare {
  fill: #0097ff;
}

.fontBlue {
  color: #0099ff;
}


/*教师端首页模块 样式*/

.moveLeft li {
  /*padding-left: 100px;*/
  transform: translateX(100px);
}

.moveRight li {
  transform: translateX(-100px);
}

.img_cover {
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  width: 5rem !important;
  height: 5rem;
  border-radius: 0.7rem;
  margin-right: 1rem;
}


/* 首页改版 */

.alter .search a.search_link {
  width: 100%;
}

.alter .search a.search_link {
  color: #8d8d8d;
}

.alter .menu_index {
  padding: 0;
}

.alter .menu_index li {
  width: 25%;
  margin: 1rem 0;
}

.alter .menu_index li a img {
  width: 45%;
}

.alter .menu_index li a span {
  color: #1c1c1c;
}

.alter .menu_index li {
  float: left;
  display: block;
}


/* .menu_z {
    overflow: hidden;
    -webkit-transition: height .2s;
    -moz-transition: height .2s;
    -o-transition: height .2s;
    -ms-transition: height .2s;
    transition: height .2s;
} */

.menu_z.close {
  height: 0;
  overflow: hidden;
  -webkit-transition: height .4s;
  -moz-transition: height .4s;
  -o-transition: height .4s;
  -ms-transition: height .4s;
  transition: height .4s;
}

.menu_z.open {
  height: 8rem;
  overflow: hidden;
  -webkit-transition: height .4s;
  -moz-transition: height .4s;
  -o-transition: height .4s;
  -ms-transition: height .4s;
  transition: height .4s;
}

.arrow_u {
  -webkit-transition: -webkit-transform .2s ease-out;
  -moz-transition: -moz-transform .2s ease-out;
  transition: transform .2s ease-out;
}

.arrow_u.close {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}

.arrow_u.open {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  transform: rotate(180deg);
}

.alter .index_list .tit_index {
  text-align: center;
  border: none;
}

.alter section.book_list ul {
  width: 100%;
  padding: 0;
}

.alter section.book_list ul li {
  float: left;
  width: 27.333%;
  height: auto;
  padding: 0 3%;
  margin-bottom: 1rem;
  border: none;
}

.alter section.book_list ul li:last-of-type {
  border: none;
}

.alter section.book_list ul li a.link,
.alter section.book_list ul li a.link img,
.alter section.book_list ul li a.link div {
  width: 100%;
}

.alter section.book_list ul li a.link img {
  border-radius: 0;
  box-shadow: 0 0 .5rem #ccc;
  margin-bottom: 1rem;
  margin-right: 0;
}

.alter section.book_list ul li a.link div h1 {
  color: #1c1c1c;
}

.alter .more {
  display: block;
  width: 100%;
  height: 4rem;
  line-height: 4rem;
  border-top: solid 1px #e0e0e0;
  font-size: 1.2rem;
  text-align: center;
  color: #666;
}

.alter .more i {
  font-size: 0.8rem;
  color: #999;
}

.alter section.special_list ul {
  display: inline-block;
  vertical-align: top;
  width: 97%;
  padding-left: 3%;
}

.alter section.special_list ul li {
  float: left;
  height: auto;
  margin-bottom: 1rem;
  border: none;
  width: 45.5%;
  margin-right: 3%;
  text-align: left;
  position: relative;
}

.alter section.special_list ul li a.link {
  display: inline-block;
  vertical-align: top;
  width: 100%;
}

.alter section.special_list ul li a.link img {
  width: 100%;
  border-radius: 0;
  box-shadow: 0 0 0.5rem #aaa;
  margin-bottom: 1rem;
  margin-right: 0;
}

.alter section.special_list ul li a.link,
.alter section.special_list ul li a.link img,
.alter section.special_list ul li a.link div {
  width: 100%;
}

.alter section.special_list ul li a.link div h1 {
  font-size: 1.25rem;
  font-weight: normal;
  color: #1c1c1c;
  line-height: 2rem;
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 99%;
}

.menu_index li a {
  position: relative;
}

.menu_index li a s {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  top: -0.2rem;
  left: 60%;
  z-index: 3;
  position: absolute;
  width: .6rem;
  height: .6rem;
  border: solid .15rem #fff;
  border-radius: 50%;
  background: #fd6951
}