body.erya {
  background: #ececec;
}
.erya .top_nav {
  height: 10em;
  padding: 4em 0;
  position: relative;
  background: url(../img/erya_index_01.png) no-repeat left bottom, -webkit-linear-gradient(#86b8eb, #0633f3);
  background-size: 100%;
  -webkit-box-shadow: 0 3px 3px rgba(190, 195, 200, .8);
  box-shadow: 0 3px 3px rgba(190, 195, 200, .8);
}
.self .top_nav {
  height: 8em;
  padding: 3em 0;
  background: url(../img/erya_index_02.png) no-repeat left bottom, -webkit-linear-gradient(#8bbbed, #438ddc);
  background-size: 100%;
}
.self .top_nav img {
  float: left;
  width: 35%;
  margin: 0 5% 0 10%;
}
.erya .top_nav strong {
  display: block;
  font-family: "Helvetica Neue", STHeiti, Droid Sans, "Microsoft YaHei", Helvetica;
  color: #fff;
  font-size: 1em;
  font-weight: lighter;
}
.self .top_nav strong {
  font-size: 1.3em;
  font-weight: 400;
}
.erya .top_nav strong s {
  text-decoration: none;
  font-size: 3.5em;
}
.erya .top_nav span {
  display: block;
  font-size: 0.8em;
  margin: 0 auto;
  width: 7em;
  padding: 3px 10px;
  color: #b7d1fb;
  border: 1px solid #fff;
  border-radius: 3em;
}
.erya .top_nav span.no_style {
  display: inline;
  border: 0;
  width: auto;
  padding: 0;
}
.self .top_nav span {
  color: #fff;
}
.erya .top_nav ul {
  display: block;
  float: left;
  width: 50%;
  margin-top: 2em;
  font-size: 0.9em;
  font-weight: lighter;
  color: #fff;
}
.self .top_nav ul {
  text-align: left;
}
.erya .top_nav ul li:first-child {
  font-size: 1.4em;
}
.erya .top_nav a {
  position: absolute;
  left: 10%;
  bottom: -1.5em;
  display: block;
  width: 80%;
  height: 3em;
  line-height: 3em;
  background: #fff;
  border-radius: 3em;
  color: #3980f4;
  -webkit-box-shadow: 0 3px 3px rgba(190, 195, 200, .8);
  box-shadow: 0 3px 3px rgba(190, 195, 200, .8);
}
.self .top_nav a {
  position: inherit;
  display: initial;
  padding: 0 0.5em;
  font-size: 0.9em;
  margin-right: 0.3em;
  border: 1px solid #f9f9f9;
  color: #f9f9f9;
  background: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.erya .center_nav {
  width: 94%;
  margin: 0 3%;
  -webkit-box-shadow: 0 3px 3px rgba(190, 195, 200, .8);
  box-shadow: 0 3px 3px rgba(190, 195, 200, .8);
}
.erya .index_title {
  width: 100%;
  height: 4.5em;
  line-height: 6em;
  padding: 0;
}
.self .index_title {
  height: 3em;
  line-height: 4em;
}
.erya .index_title strong {
  font-weight: normal;
  text-indent: 1em;
  color: #666;
}
.erya .index_title a.current {
  color: #357ef5;
}
.erya .index_title a {
  display: block;
  height: 100%;
  padding: 0 1em;
  font-size: 0.9em;
  color: #999;
}
.erya .index_title span {
  color: #666;
}
.erya .index_list li {
  height: 6.5em;
}
.erya .index_list li.more {
  height: 2.5em;
}
.erya .index_list li div {
  width: 35%;
  height: 5em;
  border-radius: 3px;
}
.erya .index_list li img {
  width: 100%;
  height: 5em;
  border-radius: 3px;
}
.erya .index_list li dl {
  width: 49%;
}
.self .index_list li dl {
  width: 38%;
}
.self .index_list li a {
  margin: 3em 0;
  border-radius: 1em;
  font-size: 0.8em;
}
.self .index_list li.more a {
  width: 100%;
  height: 100%;
  font-size: 1em;
  border: none;
  padding: 0;
  margin: 0;
  color: #333;
}

/* 加载页 */

.loading_nav {
  height: 100%;
  background: #fff url(../img/erya_img_07.png) repeat-x left top;
  background-size: 100%;
  position: relative;
}
.loading_nav .load {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  height: 12em;
  margin: -6em 0 0 -25%;
}
.loading_nav .load div {
  margin: 0 auto;
  width: 60%;
  height: 7em;
  background: url(../img/erya_img_06.png) no-repeat top center;
  background-size: 100%;
}
.loading_nav .load img {
  position: absolute;
  width: 15%;
  animation: myfirst 2s ease-in-out 0s infinite alternate;
}
@keyframes myfirst {
  0% {
    right: 35px;
    top: 20px;
  }
  50% {
    right: 35px;
    top: 40px;
  }
  100% {
    right: 35px;
    top: 20px;
  }
}
.loading_nav div p {
  color: #53616f;
}

/* 引导页 */

.guide_nav {
  position: relative;
  height: 100%;
  background: -webkit-linear-gradient(#86b8eb, #3b83d0);
}
.guide_nav div {
  position: relative;
  height: 100%;
  background: url(../img/erya_img_08.png) no-repeat center 2em;
  background-size: 85%;
}
.guide_nav div p {
  display: block;
  width: 36%;
  position: absolute;
  right: 9.5%;
  font-size: 0.8em;
  color: #fff;
  text-align: center;
}
#leadButton {
  position: absolute;
  left: 10%;
  bottom: 3em;
  display: block;
  width: 80%;
  height: 3em;
  line-height: 3em;
  background: #3598fe;
  border-radius: 3em;
  color: #fff;
}
#md {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
}
.erya .topic {
  position: relative;
  height: 100%;
  margin-bottom: 0!important;
}
.erya .topic .tit_c {
  display: block;
  width: 100%;
  height: 5em;
  line-height: 6em;
  background: url(../img/erya_img_16.png) repeat-x top center;
  font-size: 1.5em;
  font-weight: normal;
  color: #3a83d0;
}

/* 向下箭头动画 */

.s-xguide-down {
  width: 50px;
  height: 50px;
  display: inline-block;
  position: absolute;
  bottom: 3em;
  left: 50%;
  margin-left: -25px;
  background: url("../img/erya_img_17.png") no-repeat -21px -3px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
  opacity: .7;
  cursor: pointer
}
@keyframes xguide_down {
  0%, 100% {
    transform: scale(0.0);
    -moz-transform: scale(0.0);
    -o-transform: scale(0.0);
    -webkit-transform: scale(0.0);
    -ms-transform: scale(0.0);
    opacity: 0
  }
  50% {
    transform: scale(1.0);
    -moz-transform: scale(1.0);
    -o-transform: scale(1.0);
    -webkit-transform: scale(1.0);
    -ms-transform: scale(1.0);
    opacity: 1
  }
}
@-webkit-keyframes xguide_down {
  0%, 100% {
    -webkit-transform: scale(0.0);
    -moz-transform: scale(0.0);
    -o-transform: scale(0.0);
    -ms-transform: scale(0.0);
    transform: scale(0.0);
    opacity: 0
  }
  50% {
    -webkit-transform: scale(1.0);
    -moz-transform: scale(1.0);
    -o-transform: scale(1.0);
    -ms-transform: scale(1.0);
    transform: scale(1.0);
    opacity: 1
  }
}
@-moz-keyframes xguide_down {
  0%, 100% {
    -moz-transform: scale(0.0);
    -o-transform: scale(0.0);
    -webkit-transform: scale(0.0);
    -ms-transform: scale(0.0);
    transform: scale(0.0);
    opacity: 0
  }
  50% {
    -moz-transform: scale(1.0);
    -o-transform: scale(1.0);
    -webkit-transform: scale(1.0);
    -ms-transform: scale(1.0);
    transform: scale(1.0);
    opacity: 1
  }
}
@-o-keyframes xguide_down {
  0%, 100% {
    -o-transform: scale(0.0);
    -moz-transform: scale(0.0);
    -webkit-transform: scale(0.0);
    -ms-transform: scale(0.0);
    transform: scale(0.0);
    opacity: 0
  }
  50% {
    -o-transform: scale(1.0);
    -moz-transform: scale(1.0);
    -webkit-transform: scale(1.0);
    -ms-transform: scale(1.0);
    transform: scale(1.0);
    opacity: 1
  }
}
.s-xguide-down.trans {
  -webkit-animation: xguide_down 4.0s infinite ease-in-out;
  -moz-animation: xguide_down 4.0s infinite ease-in-out;
  -o-animation: xguide_down 4.0s infinite ease-in-out;
  animation: xguide_down 4.0s infinite ease-in-out
}
.s-xguide-down.arrow-1 {
  animation-delay: -2.0s;
  -webkit-animation-delay: -2.0s;
  -moz-animation-delay: -2.0s;
  -o-animation-delay: -2.0s
}

/* 分析页 */

.erya #main {
  margin: 0 auto;
  width: 100%;
  height: 24em;
}
.erya .analyze_nav {
  padding-bottom: 2em;
  background: url(../img/erya_img_14.png);
}
.erya .analyze_nav .tit {
  width: 100%;
  height: 2em;
  padding: 2em 0;
  line-height: 1.7em;
  color: #546171;
}
.erya .analyze_nav .tit strong {
  font-size: 1.5em;
  margin-right: 0.2em;
}
.erya .analyze_nav .tit span {
  font-size: 1.1em;
}
.erya .analyze_nav .tit s {
  display: inline;
  font-size: 0.7em;
  text-decoration: none;
}
.erya .analyze_nav .tit a {
  display: inline;
  padding: 2px 8px;
  border-radius: 10px;
  background: #e3e8eb;
  color: #555962;
}
.erya .analyze_nav .remark2 {
  margin: 0 auto;
  width: 90%;
  height: 8em;
  background: #f0f7fa;
  border-radius: 8px;
  color: #94abb0;
}
.erya .analyze_nav .remark2 div {
  float: left;
  width: 25%;
  height: 100%;
  padding: 0;
  margin-right: 1em;
  background: #afc2c6 url(../img/erya_img_02.png) no-repeat;
  background-size: 100% 100%;
  border-radius: 8px 0 0 8px;
}
.erya .analyze_nav .remark2 p {
  display: block;
  float: left;
  width: 65%;
  padding: 1em 0;
  line-height: 1.8em;
  font-size: 0.9em;
  text-align: left;
}
.erya .analyze_nav .remark {
  margin: 3em auto 0 auto;
  padding: 2em 0;
  width: 80%;
  height: auto!important;
  height: 3em;
  min-height: 3em;
  background: #fff;
  border-radius: 50px;
  color: #546171;
  position: relative;
}
.erya .analyze_nav .remark ul li {
  margin: 0 auto;
  width: 70%;
  height: 3.5em;
  line-height: 3.5em;
  text-indent: 2em;
}
.erya .analyze_nav .remark ul li strong {
  font-size: 1.2em;
}
.erya .analyze_nav .remark ul li.ct_1 {
  background: url(../img/erya_img_21.png) no-repeat left center;
  background-size: 23%;
}
.erya .analyze_nav .remark ul li.ct_2 {
  background: url(../img/erya_img_22.png) no-repeat left center;
  background-size: 23%;
}
.erya .analyze_nav .remark ul li.ct_3 {
  background: url(../img/erya_img_23.png) no-repeat left center;
  background-size: 23%;
}
.erya .analyze_nav .remark ul li.ct_1 strong {
  color: #ffae00;
}
.erya .analyze_nav .remark ul li.ct_2 strong {
  color: #f1661a;
}
.erya .analyze_nav .remark ul li.ct_3 strong {
  color: #1cb0f5;
}
.erya .analyze_nav .remark .img_t {
  position: absolute;
  left: 50%;
  top: -4em;
  width: 50%;
  margin-left: -25%;
}
.erya .analyze_nav .remark .img_l {
  position: absolute;
  left: -1em;
  top: 1.5em;
  width: 40%;
}
.erya .analyze_nav .remark div {
  width: 50%;
  height: auto!important;
  height: 6em;
  min-height: 6em;
  padding: 0 10% 0 40%;
  text-align: left;
}
.erya .analyze_nav .remark div strong {
  line-height: 3em;
  font-size: 1.3em;
  color: #ff9600;
}
.erya .analyze_nav .remark div p {
  font-size: 0.9em;
  line-height: 1.6em;
}
.erya .grade_nav {
  padding-bottom: 5em;
  background: #fff;
}
.erya .grade_nav .tit {
  width: 100%;
  height: 5em;
  line-height: 5em;
  color: #546171;
  background: url(../img/erya_img_15.png) repeat-x left top;
  background-size: 100%;
}
.erya .grade_nav .tit strong {
  font-size: 1.5em;
  margin-right: 0.2em;
}
.erya .grade_nav ul {
  margin: 0 auto;
  display: block;
  width: 86%;
}
.erya .grade_nav ul li {
  height: auto!important;
  height: 2.5em;
  min-height: 2.5em;
  line-height: 2.5em;
  font-size: 0.9em;
  text-align: left;
  color: #565656;
}
.erya .grade_nav ul li img {
  width: 1.5em;
  height: 1.5em;
  margin-right: 0.5em;
}
.erya .grade_nav ul li s {
  text-decoration: none;
  color: #fe8602;
}
.erya .but_l {
  left: 0;
  bottom: 0;
  width: 50%;
  background: #ff9600;
  color: #fff;
}
.erya .but_b, .erya .but_l, .erya .but_r {
  position: fixed;
  z-index: 3;
  height: 3em;
  line-height: 3em;
  text-align: center;
}
.erya .but_b {
  left: 0;
  bottom: 0;
  width: 100%;
  background: #34adff;
  color: #fff;
}
.erya .but_r {
  right: 0;
  bottom: 0;
  width: 50%;
  background: #34adff;
  color: #fff;
}
.erya .multi {
  line-height: 2.2em!important;
}
.erya .multi s {
  display: block;
  font-size: 0.6em;
  text-decoration: none;
  line-height: 0em!important;
}

/* 结果页 */

.result_nav {
  background: #fff;
}
.result_nav .catalog {
  width: 94%;
  height: 2em;
  line-height: 2em;
  padding: 0.5em 3%;
  font-size: 0.8em;
  color: #787878;
  background: #f3f3f3;
  border-bottom: 1px solid #ececec;
  text-align: left;
}
.result_nav .menu_list {
  position: absolute;
  display: block;
  width: 100%;
  height: auto!important;
  height: 10em;
  min-height: 10em;
  margin-bottom: 3em;
}
.result_nav .menu_head {
  position: relative;
  width: 90%;
  height: 3.5em;
  line-height: 3.5em;
  padding: 0 5%;
  border-bottom: 1px solid #ececec;
  background: #fff;
  font-weight: normal;
}
.result_nav .menu_head span:nth-child(2) {
  display: block;
  width: 92%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: left;
  text-indent: 2em;
}
.result_nav .menu_head span:nth-child(3) {
  position: absolute;
  right: 0.8em;
  top: 50%;
  margin-top: -1em;
  width: 2em;
  height: 2em;
  line-height: 2em;
  text-align: center;
  font-size: 0.8em;
  color: #c4c4c4;
  transform: rotate(90deg);
}
.result_nav .current span:nth-child(3) {
  transform: rotate(-90deg);
}
.result_nav .menu_head span {
  display: table-cell;
}
.result_nav .menu_head .icon-appraisal_10, .result_nav .menu_head .icon-appraisal_11 {
  position: absolute;
  left: 0.8em;
  top: 50%;
  margin-top: -1em;
  width: 2em;
  height: 2em;
  line-height: 2em;
  text-align: center;
}
.result_nav .menu_head .icon-appraisal_10 {
  color: #1e93e1;
}
.result_nav .menu_head .icon-appraisal_11 {
  color: #ff5400;
}
.menu_body {
  padding: 0.5em 0;
  border-bottom: 1px solid #ececec;
  background: #fff;
}
.menu_body dl {
  margin: 0 auto;
  display: block;
  width: 80%;
  border: 1px solid #eee;
  border-radius: 3px;
  background: #fbfbfb;
  color: #555;
}
.menu_body dd {
  display: block;
  width: 90%;
  height: 2em;
  line-height: 2em;
  padding: 0 5%;
  text-align: left;
  color: #191919;
}
.menu_body dd p {
  float: left;
  display: block;
  color: #666;
}
.menu_body p.b {
  color: #000;
}
.menu_body dd s {
  font-size: 0.8em;
  text-decoration: none;
  color: #34adff;
}
.menu_body dd s.result {
  color: #28c588;
}
.menu_body p {
  display: block;
  margin: 0.3em auto;
  width: 90%;
  line-height: 2em;
  padding: 0 5%;
  font-size: 0.8em;
  text-align: left;
}
.menu_body img {
  width: 80%;
  margin: 1em 10%;
}

/*答题页*/

.self .topic .title {
  margin: 0!important;
  padding: 1em 3% 0 3%!important;
}
.self .topic dd a {
  background: url(../img/erya_ico_08.png) no-repeat center center!important;
  background-size: 50%!important;
}
.self .topic dd a.current {
  background: url(../img/erya_ico_07.png) no-repeat center center!important;
  background-size: 50%!important;
}
.self .but_b {
  background: #f9f9f9!important;
  color: #444!important;
  border-top: 1px solid #dbdbdb;
}
.self .but_b span {
  font-size: 0.8em;
  color: #9ca4ac;
}
.self .img_list {
  width: 94%;
  margin: 1em 3% 10em 3%;
}
.self .img_list div.row {
  width: 100%;
  height: auto!important;
  height: 2em;
  min-height: 2em;
}
.self .img_list div.list {
  float: left;
  width: 27%;
  height: auto!important;
  height: 2em;
  min-height: 2em;
  margin: 0 3%;
  position: relative;
}
.self .img_list div.list img {
  width: 100%;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, .5);
  box-shadow: 0 0 3px rgba(0, 0, 0, .5);
}
.self .img_list div.list span {
  display: block;
  width: 99%;
  font-size: 0.8em;
  color: #767676;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0.5em 0 1.5em 0;
}
.self .img_list div.list p {
  display: block;
  width: 99%;
  font-size: 0.8em;
  color: #767676;
  text-align: left;
  margin: 0.5em 0 1.5em 0;
}
.self .img_list div.list s {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  width: 2em;
  height: 2em;
  background: url(../img/erya_ico_08.png) no-repeat center center;
  background-size: 70%;
}
.self .img_list div.current s {
  background: url(../img/erya_ico_07.png) no-repeat center center;
  background-size: 70%;
}

/* 用户信息 */

.erya .topic dd s {
  position: absolute;
  right: 1em;
  top: -0.5em;
  text-decoration: none;
  font-size: 0.9em;
  color: #aeaeae;
}

/* 历史成绩 */

.history_nav {
  position: relative;
  height: 100%;
  background: url(../img/erya_img_14.png);
}
.history_nav img {
  position: fixed;
  top: 3em;
  left: 50%;
  margin: 0 0 0 -35%;
  width: 70%;
}
.history_nav #main {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 70%;
}

/* 弹窗 */

.erya #popBg {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 99998;
  background: rgba(0, 0, 0, .55);
}
.erya #popNav, .erya #userpopNav {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 99999;
  background: #fff;
  border-radius: 16px;
  width: 80%;
  height: 18em;
  margin: -9em 0 0 -40%;
  color: #333;
}
.erya .nav_h {
  height: 28em!important;
  margin: -14em 0 0 -40%!important;
}
.erya .nav_h .tit {
  margin-bottom: 1em;
  line-height: 1.5em;
  font-size: 0.9em;
  color: #999;
}
.erya .nav_h .pic_1 {
  width: 80%;
}
.erya .nav_h .roles {
  float: left;
  width: 30%;
  position: relative;
  -webkit-opacity: .6;
  opacity: .6;
}
.erya .nav_h .roles.l {
  margin: 0 5% 1em 15%;
}
.erya .nav_h .roles.r {
  margin: 0 15% 1em 5%;
}
.erya .nav_h .roles.current {
  -webkit-opacity: 1;
  opacity: 1;
}
.erya .nav_h .roles img {
  width: 100%;
}
.erya .nav_h .roles span {
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 1.5em;
  height: 1.5em;
  line-height: 1.5em;
  border: 3px solid #fff;
  border-radius: 1.5em;
  background: #ddd;
  color: #aaa;
  text-align: center;
}
.erya .nav_h .roles.current.l span {
  background: #f78eab;
  color: #fff;
}
.erya .nav_h .roles.current.r span {
  background: #b0cffe;
  color: #fff;
}
.erya .nav_h .mbsc-ios .mbsc-sc-whl-gr {
  padding: 0!important;
}
.erya #popNav h1, .erya #userpopNav h1 {
  position: relative;
  display: block;
  width: 100%;
  height: 3.5em;
  line-height: 3.5em;
  margin-bottom: 0.8em;
  border-radius: 16px 16px 0 0;
  font-size: 1.2em;
  font-weight: normal;
  background: #bce0ff url(../img/erya_img_04.png) repeat-x left bottom;
  background-size: 120%;
}
.erya #popNav h1 img, .erya #userpopNav h1 img {
  position: absolute;
  top: -1em;
  left: 50%;
  width: 32%;
  margin-left: -16%;
}
.erya #popNav h2, .erya #userpopNav h2 {
  position: relative;
  display: block;
  width: 100%;
  height: 3em;
  line-height: 3em;
  margin-bottom: 1em;
  border-radius: 16px 16px 0 0;
  font-size: 1.2em;
  font-weight: normal;
  background: #f3f3f3;
  color: #000;
}
.erya #popNav h2 i, .erya #popNav h1 i, .erya #userpopNav h2 i, .erya #userpopNav h1 i {
  position: absolute;
  right: 1em;
  top: 0;
  font-size: 0.6em;
  width: 2em;
  height: 4.5em;
  line-height: 4.5em;
  color: #888;
}
.erya #popNav h1 i, .erya #userpopNav h1 i {
  top: 2em;
  height: 2em;
  line-height: 2em;
  border-radius: 2em;
  color: #fff;
  background: #9fd0fa;
}
.erya #popNav p, .erya #userpopNav p {
  display: block;
  width: 90%;
  height: 2.2em;
  line-height: 2.2em;
  border-bottom: 1px solid #ebebeb;
  margin: 0 5%;
  text-align: left;
  color: #383838;
}
.erya #popNav a, .erya #userpopNav a {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 6;
  width: 100%;
  height: 3em;
  line-height: 3em;
  color: #5d96f5;
  font-size: 1.2em;
}
.erya #popNav a.cancel, .erya #popNav a.enter, .erya #userpopNav a.cancel, .erya #userpopNav a.enter {
  display: block;
  bottom: 0.8em;
  width: 43%;
  height: 2.5em;
  line-height: 2.5em;
  border-radius: 5px;
  font-size: 1em;
}
.erya #popNav a.cancel, .erya #userpopNav a.cancel {
  left: 0.7em;
  color: #aeaeae;
  background: #f6f6f6;
}
.erya #popNav a.enter, .erya #userpopNav a.enter {
  left: auto;
  right: 0.7em;
  color: #fff;
  background: #3598fe;
}
