@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?osrg6t');
  src:  url('fonts/icomoon.eot?osrg6t#iefix') format('embedded-opentype'),
    url('fonts/icomoon.svg?osrg6t#icomoon') format('svg'),
    url('fonts/icomoon.ttf?osrg6t') format('truetype'),
    url('fonts/icomoon.woff?osrg6t') format('woff');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-loading:before {
  content: "\e917";
}
.icon-book:before {
  content: "\e913";
}
.icon-english:before {
  content: "\e914";
}
.icon-indicate:before {
  content: "\e915";
}
.icon-main:before {
  content: "\e916";
}
.icon-add:before {
  content: "\e900";
}
.icon-arrow:before {
  content: "\e901";
}
.icon-buy:before {
  content: "\e902";
}
.icon-delete:before {
  content: "\e903";
}
.icon-edit:before {
  content: "\e904";
}
.icon-good:before {
  content: "\e905";
}
.icon-heart-o:before {
  content: "\e906";
}
.icon-heart:before {
  content: "\e907";
}
.icon-menu:before {
  content: "\e908";
}
.icon-report:before {
  content: "\e909";
}
.icon-scoring:before {
  content: "\e90a";
}
.icon-search:before {
  content: "\e90b";
}
.icon-star:before {
  content: "\e90c";
}
.icon-task:before {
  content: "\e90d";
}
.icon-thoughts:before {
  content: "\e90e";
}
.icon-time:before {
  content: "\e90f";
}
.icon-true:before {
  content: "\e910";
}
.icon-user:before {
  content: "\e911";
}
.icon-write:before {
  content: "\e912";
}
